<ion-view hide-nav-bar="true">>
	<div class="bar bar-header bar-assertive">
  		<h1 class="title">Dashboard</h1>
	</div>
	<ion-content>
	    <div class="dashboard">
	    	<div class="row">
	    		<div class="col col-50">
		    		<button ng-click="member();">
		    			<div class="box">
		    				<h4>Member Form</h4>
		    			</div>
		    		</a>
		    	</div>
		    	<div class="col col-50">
		    		<button ng-click="product();">
		    			<div class="box">
		    				<h4>Produk</h4>
		    			</div>
		    		</button>
		    	</div>
	    	</div>
	    </div>
	</ion-content>
</ion-view>